﻿<script type="text/javascript">
    RED.nodes.registerType('FIOHSMM', {
        category: 'MLib',
        color: '#a6bbcf',
        defaults: {
            name: { value: "FIOHSMM" },
            model: { value: "" },
            index: { value: "1" }
        },
        inputs: 1,
        outputs: 1,
        inputLabels: ["Input sequence (Json, see Synchronizer node)"],
        outputLabels: ["Possibility value (Json)"],
        icon: "light.png",
        label: function () {
            return this.name || "FIOHSMM";
        }
    });
</script>
<!---------------------------------------
Defines properties of the node
----------------------------------------->
<script type="text/x-red" data-template-name="FIOHSMM">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-model"><i class="icon-tag"></i> Model path/name</label>
        <input type="text" id="node-input-model" placeholder="Model">
    </div>
    <div class="form-row">
        <label for="node-input-index"><i class="icon-tag"></i> Index</label>
        <input type="text" id="node-input-index" placeholder="Index">
    </div>
</script>

<script type="text/x-red" data-help-name="FIOHSMM">
    <p>Computes the possibility of an Input/Output sequence taking into account temporal aspects.</p>
    <h3>Outputs</h3>
    <dl class="message-properties">
        <dt>
            payload
            <span class="property-type">string | buffer</span>
        </dt>
        <h3>Details</h3>
</script>