﻿<script type="text/javascript">
    RED.nodes.registerType('Synchronizer', {
        category: 'MLib',
        color: '#a6bbcf',
        defaults: {
            name: { value: "synchronizer" },
            length: { value: "5" },
            orderin: { value: "" },
            orderout: { value: "" },
            accuracy: { value: "" },
            slidingWindowLength: { value: "0" }
        },
        inputs: 1,
        outputs: 1,
        inputLabels: ["Input sequence (Json whose field \"topic\" is set to \"Input\"),\n output sequence (Json whose field \"topic\" is set to \"Output\")"],
        outputLabels: ["Synchronized sequence (Json)"],
        icon: "serial.png",
        label: function () {
            return this.name || "Synchronizer";
        }
    });
</script>
<!---------------------------------------
Defines properties of the node
----------------------------------------->
<script type="text/x-red" data-template-name="Synchronizer">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-length"><i class="icon-tag"></i> Sequences length</label>
        <input type="text" id="node-input-length" placeholder="SequenceLength">
    </div>
    <div class="form-row">
        <label for="node-input-orderin"><i class="icon-tag"></i> Inputs order</label>
        <input type="text" id="node-input-orderin" placeholder="InputsOrder">
    </div>
    <div class="form-row">
        <label for="node-input-orderout"><i class="icon-tag"></i> Outputs order</label>
        <input type="text" id="node-input-orderout" placeholder="OutputsOrder">
    </div>
    <div class="form-row">
        <label for="node-input-accuracy"><i class="icon-tag"></i> Accuracy</label>
        <input type="text" id="node-input-accuracy" placeholder="Accuracy">
    </div>
    <div class="form-row">
        <label for="node-input-slidingWindowLength"><i class="icon-tag"></i> Sliding window length</label>
        <input type="text" id="node-input-slidingWindowLength" placeholder="SlidingWindowLength">
    </div>
</script>

<script type="text/x-red" data-help-name="Synchronizer">
    <p>Synchronizes input and output sequences based on time stamps.</p>
    <h3>Outputs</h3>
    <dl class="message-properties">
        <dt>
            payload
            <span class="property-type">string | buffer</span>
        </dt>
        <h3>Details</h3>
</script>