#fsm_editor {
    height: calc(95vh - 64px);
    /*width: 100vw;*/
    background-size: 2vh 2vh;
    background-image: linear-gradient(to right, #AAA8 1px, transparent 1px), linear-gradient(to bottom, #AAA8 1px, transparent 1px);
}

#jsoneditorbuttoncontainer {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    padding-bottom: 3px;
}

#jsoneditor {
    width: 100%;
    height: calc(95vh - 104px);
}

#analysisroot {
    width: 100vw;
    height: calc(100vh - 150px);
}

#analysisdot {
    width: 49vw;
    height: 40vh;
    display: inline-block;
}

#analysisobs {
    position:relative; 
    margin: auto;
    width: 90vw;
}

.graphcanvas {
    width: 49vw;
    height: 40vh;
    display: inline-block;
}

.graphcanvas2 {
    width: 49vw;
    height: 19vh;
    display: inline-block;
}

#obscanvasparent{
    width: 49vw;
    height: 40vh;
    display:inline-block;
}


#stepslidercontainer {
    background: #000;
    width: 100vw;
}

#stepslider {
    padding-top: 5px;
    padding-bottom: 2px;
}

#stepsliderlabel{
    color: #FFF;
    font-size: 1.4em;
    padding-left: 20px;
}

#cy_nav {
    position: absolute;
    border: 1px solid #000;
    background: #fff;
    z-index: 1;
    width: 15vw;
    height: 15vh;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

#cy_nav > img {
    max-width: 100%;
    max-height: 100%;
}

#cy_nav > canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 101;
}